@import "tailwindcss";

@theme {
    --breakpoint-sm: 30rem;/*480px*/
    --breakpoint-md: 52rem;/*768+64px*/
    --breakpoint-lg: 61rem;/*961px*/
    --breakpoint-xl: 90rem;/*1440px*/
    --color-brightRed:#f25f3a;
    --color-brightRedLight:#f6866a;
    --color-brightRedSupLight:#feebe7;
    --color-darkBlue:#242d52;
    --color-darkGrayishBlue:#9095a7;
    --color-varyDarkBlue:#1d1e25;    
    --color-veryPaleRed:#ffefeb;    
    --color-veryLightGray:#fafafa;    
    
}

